.about-page__container {
  padding: 60px 0px;
  background-color: #001789 !important;
  .article-body {
    color: #fbd900;
    background: transparent;
    padding: 40px 20px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.25);
    text-align: center;
  }
}
