.history-page__container {
  padding: 60px 0px;
  background-color: #001789 !important;
}

.vertical-timeline::before {
  background-color: #fbd900 !important;
}

.vertical-timeline-element-icon {
  background: #fbd900 !important;
}

.vertical-timeline-element-title {
  margin-top: 5% !important;
}

.vertical-timeline-element-content {
  background: #fbd900 !important;
  color: #000 !important;
}
.vertical-timeline-element-content-arrow {
  border-right-color: #fbd900 !important;
}
.vertical-timeline-element-date {
  @media only screen and (max-width: 1169px) {
    color: #000;
  }
  color: #fff;
  opacity: 1 !important;
  font-size: 1rem !important;
}

.vertical-timeline-element-image {
  // float: left;
  width: 100%;
  @media only screen and (min-width: 400) {
    height: 150px;
  }
  @media only screen and (min-width: 900) {
    height: 200px;
  }
  text-align: center;
  // width: 300px;
  // height: 300px;
  object-fit: cover;
}
