.slick-dots {
  //   top: 90% !important;
  top: 50%;
  right: 2%;
  transform: translateY(-50%);
  bottom: auto;
  width: auto;
  @media screen and (max-width: 767px) {
    top: 90% !important;
    right: auto;
    width: 100%;
    transform: none;
  }
  li.slick-active {
    button::before {
      opacity: 1;
    }
  }
  li {
    margin: 10px 10px;
    display: block;
    button::before {
      font-size: 20px;
      opacity: 0.75;
      color: white !important;
    }
    @media screen and (max-width: 767px) {
      display: inline-block !important;
    }
  }
}

.video-slide-wrapper {
  position: relative;
  width: 100%;
  &::after {
    content: "\A";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    transition: all 1s;
    -webkit-transition: all 1s;
  }
}

.video-slide {
  vertical-align: top;
  width: 100%;
  height: 90vh;
  vertical-align: top;
  object-fit: cover;
  display: none !important;
  @media screen and (min-width: 767px) {
    display: inline-block !important;
  }
}

.image-slide {
  width: 100%;
  height: 50vh;
  vertical-align: top;
  object-fit: cover;
  display: none !important;
  @media screen and (max-width: 767px) {
    display: inline-block !important;
  }
}

.cursor-animated {
  color: #fff200 !important;
}

.carousel-slide__content {
  position: absolute;
  top: 40%;
  text-align: center;
  left: 50%;
  transform: translateY(-50%);
  transform: translateX(-50%);
  color: #fff200 !important;
  z-index: 3;
  .typing-header {
    font-size: 3rem;
    font-weight: 600;
    @media screen and (max-width: 767px) {
      font-size: 1.8rem;
      // font-weight: 400;
    }
  }
  @media screen and (max-width: 767px) {
    top: 30%;
  }
}

h3.category-header {
  display: inline-block;
  color: #fff200 !important;
  @media screen and (max-width: 767px) {
    font-size: 1.2rem;
    
  }
}

.slide-title {
  font-size: 4rem;
  color: #fff !important;
  @media screen and (max-width: 767px) {
    font-size: 2rem;
  }
}

.slide-text {
  font-size: 2rem;
  margin-top: 2rem;
  @media screen and (max-width: 767px) {
    font-size: 1.2rem;
    margin-top: 1rem;
  }
}

.slide-button {
  cursor: pointer;
  display: inline-block;
  color: #fff;
  background-color: #ef4c23;
  padding: 0.8em 3em;
  text-transform: uppercase;
  border-top-left-radius: 0.4rem;
  border-bottom-right-radius: 0.4rem;
  font-weight: 600;
  border: none;
  font-size: 1rem;
  transition: background-color 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  position: relative;
  -webkit-appearance: none;
  margin-top: 3.5rem;
  @media screen and (max-width: 767px) {
    margin-top: 1.3rem;
    font-size: 0.8rem;
    padding: 0.8em 2.5em;
  }
  &:hover {
    background-color: #d0360f;
    color: white;
    text-decoration: none;
  }
}
